@import "./reset.css";

:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #323235;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

h2 {
  color: #fff;
}

body {
  background-color: var(--app-bg-dark);
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  margin-top: 60px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

header {
  width: 100%;
  height: 75px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #fefefe;
}

.dropdown {
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 22px;
  transition: 0.22s;
  border-radius: 50px;
  margin: 0 5px;
}
.navbar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

.navbar ul li a.active {
  color: #11101b;
  background: #fefefe;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Media Queries                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media (max-width: 900px) {
  
  .dropdown {
    cursor: pointer;
    display: block;
  }

  .dropdown .line {
    height: 3px;
    width: 33px;
    margin: 6px 0;
    background: #fefefe;
  }

  .navbar {
    overflow: hidden;
    height: 0;
    position: absolute;
    transition: 0.22s;
    background: #11101b;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
  }
  
  .navbar.active {
    height: 450px;
  }

  .navbar ul {
    transition: 0.55s;
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 0;
  }

  .navbar.active ul {
    opacity: 1;
  }

  .navbar ul li a {
    margin-bottom: 12px;

  }
}