@import "./reset.css";

:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #323235;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

h2 {
  color: #fff;
}

body {
  background-color: var(--app-bg-dark);
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  margin-top: 60px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

header {
  width: 100%;
  height: 75px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #fefefe;
}

.dropdown {
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 22px;
  transition: 0.22s;
  border-radius: 50px;
  margin: 0 5px;
}
.navbar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

.navbar ul li a.active {
  color: #11101b;
  background: #fefefe;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Media Queries                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media (max-width: 900px) {
  
  .dropdown {
    cursor: pointer;
    display: block;
  }

  .dropdown .line {
    height: 3px;
    width: 33px;
    margin: 6px 0;
    background: #fefefe;
  }

  .navbar {
    overflow: hidden;
    height: 0;
    position: absolute;
    transition: 0.22s;
    background: #11101b;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
  }
  
  .navbar.active {
    height: 450px;
  }

  .navbar ul {
    transition: 0.55s;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 0;
  }

  .navbar.active ul {
    opacity: 1;
  }

  .navbar ul li a {
    margin-bottom: 12px;

  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* About                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - */

#about {
  padding: 70px 0;
  color: #ababab;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.about-col1 {
  flex-basis: 35%;
}

.about-col1 img {
  border-radius: 16px;
  width: 100%;
}

.about-col2 {
  flex-basis: 60%;
}

.title-about {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Projects                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - */

#projects {
  padding: 70px 0;
}

.title-projects {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project1, .project2, .project3 {
  border-radius: 13px;
  background-color: #11101b;
  position: relative;
  overflow: hidden;
  transition: transform 0.33s;
}
.project1 h3, .project2 h3, .project3 h3{
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.project1 p, .project2 p, .project3 p{
  padding: 7px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.fa-solid {
  width: 100%;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
}

.project1:hover, .project2:hover, .project3:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.05);
}